{% extends "parent_template.html" %}
{% block content %}
        <h1>Favourite quotes of Phil Dunphy:</h1>
        <p> Whenever life gives you lemonade, make lemons and life will be all like: "What?!"<br><br>
         People like to say "you can be part of the problem or part of the solution", but I happen to belief you can be both <br><br>
         I am brave. Roller coasters? Love ‘em. Scary movies? I’ve seen Ghostbusters, like, seven times. I regularly drive through neighborhoods that have only recently been gentrified. So, yeah, I’m pretty much not afraid of anything. </p>
{% endblock %}    


